<section>
  <div id="game-normal" *ngIf="!isWin; else endGame">
    <button-voltar pathToBack="" id="button-voltar"></button-voltar>

    <div class="box-icon-per">
      <img alt="player1" [src]="player1.logo" />
    </div>

    <div id="tabuleiro">
      <tabuleiro-game
        (trocaVez)="trocaVez($event)"
        (deuVelha)="deuVelha()"
        [isBotPlaying]="!isTwoPlayers"
        [caracterPlayer1]="player1.caracter"
        [caracterPlayer2]="player2.caracter"
      ></tabuleiro-game>
    </div>

    <div class="box-icon-per">
      <img [alt]="isBot" [src]="player2.logo" />
    </div>

    <div id="box-geral-luz">
      <div class="luz-magica" id="luz-magica-1" [style]="hideLuzMagica1">
        <img [src]="fundoPlayer1" />
      </div>

      <div class="luz-magica" id="luz-magica-2" [style]="hideLuzMagica2">
        <img [src]="fundoPlayer2" />
      </div>
    </div>
  </div>

  <ng-template #endGame id="game-over">
    <app-game-over [playerWin]="whoWin" [deuVelha]="isVelha"></app-game-over>
  </ng-template>
</section>
