:host{
  width: 100%;
  height: 100%;

  section{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #button-voltar{
    position: absolute;
    top: 12px;
    left: 12px;
  }

  #e-um{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #e-dois-box{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #escolha2{
    margin-top: 30px;
  }

  #button-geral{
    position: relative;
    width: 260px;
    height: 60px;
  }

  #bloqueador-button{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  @media (min-width: 390px){
    .escolha-player{
      width: 375px;
    }

    #e-um{
      width: 70%;
    }
  }

  @media (min-width: 1000px){
    #button-voltar{
      display: none;
    }

    #e-dois-box{
      flex-direction: row;
      margin-bottom: 50px;
    }

    .escolha-player{
      width: 70%;
      height: 40%;
      margin-right: 50px;
      margin-left: 50px;

    }

    #escolha2{
      margin-top: 0px;
    }

    #button-geral{
      width: 420px;
      height: 104px;
    }
  }

  @media (min-width: 2200px){
    #e-dois-box{
      height: 70%;
      margin-bottom: 0px;
    }

    #e-um{
      width: 100%;
    }

    .escolha-player{
      width: 50%;
      height: 55%;
      margin-bottom: 100px;
    }

    #button-geral{
      width: 33%;
      height: 14%;
    }
  }
}
