<section>
  <button-voltar pathToBack="" id="button-voltar"></button-voltar>

  <div id="e-um" *ngIf="isOne; else isTwo">
    <escolha-player
      class="escolha-player"
      tipo="2"
      qualPlayer="1"
      (caracterEscolhido)="verCaracterEscolhido1($event)"
    ></escolha-player>
  </div>

  <ng-template #isTwo>
    <div id="e-dois-box">
      <escolha-player
        class="escolha-player"
        tipo="1"
        qualPlayer="1"
        (caracterEscolhido)="verCaracterEscolhido1($event)"
      ></escolha-player>
      <escolha-player
        class="escolha-player"
        id="escolha2"
        tipo="1"
        qualPlayer="2"
        (caracterEscolhido)="verCaracterEscolhido2($event)"
      ></escolha-player>
    </div>
  </ng-template>

  <div id="button-geral" [style]="espacoButtonDiv">
    <app-button-geral
      colorButton="#AC59FF"
      [pathClick]="pathToGame"
      [contButton]="contButton"
    ></app-button-geral>
    <div
      id="bloqueador-button"
      [style]="bloqueadorButtonHidden"
      (click)="blockButton()"
    ></div>
  </div>
</section>
