<section>
  <div class="game-over" *ngIf="!deuVelha; else eVelha">
    <h1>{{ playerWin }}</h1>
    <div id="container-img">
      <img id="trofeu" alt="winner" src="assets/winner.svg" />
      <img id="letra" alt="winner" src="assets/winner-txt.svg/" />
    </div>
    <div id="button-geral">
      <app-button-geral
        colorButton="#AC59FF"
        pathClick=""
        [contButton]="contButton"
      ></app-button-geral>
    </div>
  </div>

  <ng-template #eVelha class="game-over">
    <img alt="Deu Velha" id="deu-velha" src="assets/deu-velha-img.svg" />
    <div id="button-geral">
      <app-button-geral
        colorButton="#AC59FF"
        pathClick=""
        [contButton]="contButton"
      ></app-button-geral>
    </div>
  </ng-template>
</section>
