<section>
  <h1>Player {{ qualPlayer }}</h1>

  <div id="box-buttons" [style]="espacoEntreDiv">
    <div class="control-div">
      <div
        class="cada-button"
        (click)="clickCaracter('x')"
        [@showButtonGrande]="estadoX"
        [style]="backgroundColorX"
      >
        <img alt="X" [src]="pathX" />
      </div>
    </div>

    <div class="control-div">
      <div
        class="cada-button"
        (click)="clickCaracter('b')"
        [@showButtonGrande]="estadoB"
        [style]="backgroundColorB"
      >
        <img alt="bolinha" [src]="pathB" />
      </div>
    </div>

    <div class="control-div">
      <div
        (click)="clickCaracter('q')"
        [@showButtonGrande]="estadoQ"
        [style]="backgroundColorQ"
        class="cada-button"
      >
        <img alt="quadrado" [src]="pathQ" />
      </div>
    </div>
  </div>
</section>
