@import "./config-css/reset.scss";
@import "./config-css/variables.scss";

/*
font-family: 'Bitter', serif; - 600 e 500
font-family: 'Damion', cursive - 400
*/

html{
  width: 100%;
  height: 100%;
  font-family: 'Bitter', serif;
  font-weight: 600;
  font-size: 42px;
  box-sizing: border-box;
  background: var(--preto);
  color: var(--branco);
}

main{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
}
